## Libraries and Data preparation

In [430]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from functions import *

# For the PCA and K-means
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from fuzzywuzzy import process

# For some graphs I got warnings that I corrected but kept popping up anyways so I needed these:
import os
import warnings

# For hierarchical clustering algorithm
from sklearn.cluster import AgglomerativeClustering

# I want to see every column,
pd.set_option('display.max_columns', None)

In [431]:
poul=pd.read_csv('data_raw/FAO_poultry.csv')
meat=pd.read_csv('data_raw/FAO_meat.csv')
pop=pd.read_csv('data_raw/FAO_population.csv')
kfc2016=pd.read_excel('data_raw/KFC_data/KFC_per_country_2016.xlsx')
kfc2018= pd.read_excel('data_raw/KFC_data/KFC_per_country_2018.xlsx')

In [432]:
display(poul.head(2))
display(poul.info())
display(meat.head(2))
display(meat.info())
display(pop.head(2))
display(pop.info())
display(kfc2016.head(2))
display(kfc2016.info())
display(kfc2018.head(2))
display(kfc2018.info())

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2734,Poultry Meat,2016,2016,1000 t,37.0,I,Imputed value
1,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2734,Poultry Meat,2018,2018,1000 t,25.0,I,Imputed value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       1440 non-null   object
 1   Domain            1440 non-null   object
 2   Area Code (M49)   1440 non-null   int64
 3   Area              1440 non-null   object
 4   Element Code      1440 non-null   int64
 5   Element           1440 non-null   object
 6   Item Code (FBS)   1440 non-null   object
 7   Item              1440 non-null   object
 8   Year Code         1440 non-null   int64
 9   Year              1440 non-null   int64
 10  Unit              1440 non-null   object
 11  Value             1440 non-null   float64
 12  Flag              1440 non-null   object
 13  Flag Description  1440 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 157.6+ KB

None

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2943,Meat,2016,2016,1000 t,45.0,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2943,Meat,2018,2018,1000 t,31.0,E,Estimated value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       1440 non-null   object
 1   Domain            1440 non-null   object
 2   Area Code (M49)   1440 non-null   int64
 3   Area              1440 non-null   object
 4   Element Code      1440 non-null   int64
 5   Element           1440 non-null   object
 6   Item Code (FBS)   1440 non-null   object
 7   Item              1440 non-null   object
 8   Year Code         1440 non-null   int64
 9   Year              1440 non-null   int64
 10  Unit              1440 non-null   object
 11  Value             1440 non-null   float64
 12  Flag              1440 non-null   object
 13  Flag Description  1440 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 157.6+ KB

None

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2016,2016,1000 No,34636.21,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,36686.78,X,Figure from international organizations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       360 non-null    object
 1   Domain            360 non-null    object
 2   Area Code (M49)   360 non-null    int64
 3   Area              360 non-null    object
 4   Element Code      360 non-null    int64
 5   Element           360 non-null    object
 6   Item Code (FBS)   360 non-null    object
 7   Item              360 non-null    object
 8   Year Code         360 non-null    int64
 9   Year              360 non-null    int64
 10  Unit              360 non-null    object
 11  Value             360 non-null    float64
 12  Flag              360 non-null    object
 13  Flag Description  360 non-null    object
dtypes: float64(1), int64(4), object(9)
memory usage: 39.5+ KB

None

   Country  Company  Franchise  Total.
0  Albania        0          2       2
1   Angola        0          9       9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    140 non-null    object
 1   Company    140 non-null    int64
 2   Franchise  140 non-null    int64
 3   Total.     140 non-null    int64
dtypes: int64(3), object(1)
memory usage: 4.5+ KB

None

   Country  Company  Franchise & License  Total
0  Albania        0                    2      2
1  Algeria        0                    0      0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              153 non-null    object
 1   Company              153 non-null    int64
 2   Franchise & License  153 non-null    int64
 3   Total                153 non-null    int64
dtypes: int64(3), object(1)
memory usage: 4.9+ KB

None

# Data Merging and Editing

In [433]:
#First I merge population with poultry and then with meat
poul = pd.merge(poul, pop[['Area','Area Code (M49)', 'Year', 'Value']], on=['Area','Area Code (M49)', 'Year'], how='inner')
meat = pd.merge(meat, pop[['Area','Area Code (M49)', 'Year', 'Value']], on=['Area','Area Code (M49)', 'Year'], how='inner')

In [434]:
display(poul.columns)
display(meat.columns)

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (FBS)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value_x', 'Flag', 'Flag Description', 'Value_y'],
      dtype='object')

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (FBS)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value_x', 'Flag', 'Flag Description', 'Value_y'],
      dtype='object')

In [435]:
poul = poul.rename(columns={'Area': 'Country'})
meat = meat.rename(columns={'Area': 'Country'})

## FAO Cleaning

In [436]:
#Editing FAO data
# China regions 
china_regions = ['China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of']

# Dropped China's provinces
poul = poul[~poul['Country'].isin(china_regions)]
meat = meat[~meat['Country'].isin(china_regions)]

#Re-naming for merging
poul['Country'] = poul['Country'].replace('Bolivia (Plurinational State of)','Bolivia')
meat['Country'] = meat['Country'].replace('Bolivia (Plurinational State of)','Bolivia')

poul['Country'] = poul['Country'].replace('Iran (Islamic Republic of)','Iran')
meat['Country'] = meat['Country'].replace('Iran (Islamic Republic of)','Iran')

poul['Country'] = poul['Country'].replace('Netherlands (Kingdom of the)','Netherlands')
meat['Country'] = meat['Country'].replace('Netherlands (Kingdom of the)','Netherlands')

poul['Country'] = poul['Country'].replace('Venezuela (Bolivarian Republic of)','Venezuela')
meat['Country'] = meat['Country'].replace('Venezuela (Bolivarian Republic of)','Venezuela')

In [437]:
poul.head(2)

,Domain Code,Domain,Area Code (M49),Country,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value_x,Flag,Flag Description,Value_y
0,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2734,Poultry Meat,2016,2016,1000 t,37.0,I,Imputed value,34636.21
1,FBS,Food Balances (2010-),4,Afghanistan,5301,Domestic supply quantity,S2734,Poultry Meat,2016,2016,1000 t,69.0,I,Imputed value,34636.21

## KFC Cleaning

In [438]:
#Editing KFC data 
non_countries = ['Bonaire', 'Curacao', 'Gibraltar', 'Grand Cayman', 'Military - Africa',
                 'Military - Asia', 'Military - Europe', 'Military - Latin America',
                 'Military - MENA', 'Saipan', 'StKitts', 'StLucia', 'StMaarten',
                 'StVincent', 'USVI']

# Drop rows corresponding to non-country entries from kfc2016
kfc2016 = kfc2016[~kfc2016['Country'].isin(non_countries)]
kfc2018 = kfc2018[~kfc2018['Country'].isin(non_countries)]

# Re-naming 
kfc2016['Country'] = kfc2016['Country'].replace('Antigua', 'Antigua and Barbuda')
kfc2016['Country'] = kfc2018['Country'].replace('Antigua', 'Antigua and Barbuda')

In [439]:
#only keeping columns needed. Not keeping Country because later we will need all columns as numbers for the PCA
poul=poul[['Area Code (M49)', 'Country','Element', 'Item', 'Year', 'Value_x', 'Value_y']]
meat=meat[['Area Code (M49)','Country', 'Element', 'Item', 'Year', 'Value_x', 'Value_y']]

## FAO Pivot Items

In [440]:
#creating the pivot tables:
    
poul = pd.pivot_table(poul, 
                    index=['Area Code (M49)','Country', 'Item', 'Year', 'Value_y'], 
                    columns=['Element'], 
                    values=['Value_x']).reset_index()

meat = pd.pivot_table(meat, 
                    index=['Area Code (M49)','Country', 'Item', 'Year', 'Value_y'], 
                    columns=['Element'], 
                    values=['Value_x']).reset_index()

In [441]:
display(poul.columns)
display(meat.columns)

MultiIndex([('Area Code (M49)',                                       ''),
            (        'Country',                                       ''),
            (           'Item',                                       ''),
            (           'Year',                                       ''),
            (        'Value_y',                                       ''),
            (        'Value_x',               'Domestic supply quantity'),
            (        'Value_x',    'Food supply quantity (kg/capita/yr)'),
            (        'Value_x',                        'Import Quantity'),
            (        'Value_x', 'Protein supply quantity (g/capita/day)')],
           names=[None, 'Element'])

MultiIndex([('Area Code (M49)',                                       ''),
            (        'Country',                                       ''),
            (           'Item',                                       ''),
            (           'Year',                                       ''),
            (        'Value_y',                                       ''),
            (        'Value_x',               'Domestic supply quantity'),
            (        'Value_x',    'Food supply quantity (kg/capita/yr)'),
            (        'Value_x',                        'Import Quantity'),
            (        'Value_x', 'Protein supply quantity (g/capita/day)')],
           names=[None, 'Element'])

In [442]:
#poultry data:
# I am resetting the column names and making it into single dimension.
poul.columns = poul.columns.droplevel(1)
poul.set_index(['Area Code (M49)','Country'], inplace=True)
poul = poul.rename_axis(index={'Area Code (M49)': 'area_c','Country': 'country'})

# population, domestic supply and import q are in 1000s 
poul.columns = ['item', 'year', 'population','p_domestic_supply','p_food_supply_(kg/cap/day)', 'p_import', 'p_protein_supply_(g/cap/day)']


#meat data:
# I am resetting the column names and making it into single dimension.
meat.columns = meat.columns.droplevel(1)
meat.set_index(['Area Code (M49)','Country'], inplace=True)
meat = meat.rename_axis(index={'Area Code (M49)': 'area_c','Country': 'country'})

# population, domestic supply and import q are in 1000s 
meat.columns = ['item', 'year', 'population','m_domestic_supply','m_food_supply_(kg/cap/day)', 'm_import', 'm_protein_supply_(g/cap/day)']

In [443]:
display(poul.head(2))
display(meat.head(2))

                            item  year  population  p_domestic_supply  \
area_c country
4      Afghanistan  Poultry Meat  2016    34636.21               69.0
       Afghanistan  Poultry Meat  2018    36686.78               53.0

                    p_food_supply_(kg/cap/day)  p_import  \
area_c country
4      Afghanistan                        2.00      37.0
       Afghanistan                        1.46      25.0

                    p_protein_supply_(g/cap/day)
area_c country
4      Afghanistan                          0.90
       Afghanistan                          0.66

                    item  year  population  m_domestic_supply  \
area_c country
4      Afghanistan  Meat  2016    34636.21              362.0
       Afghanistan  Meat  2018    36686.78              323.0

                    m_food_supply_(kg/cap/day)  m_import  \
area_c country
4      Afghanistan                       10.45      45.0
       Afghanistan                        8.80      31.0

                    m_protein_supply_(g/cap/day)
area_c country
4      Afghanistan                          4.67
       Afghanistan                          3.94

In [444]:
poul.loc[:, 'p_import_(kg/cap/day)'] = (poul['p_import'] * 1000000)/ (poul['population']*1000)
meat.loc[:, 'm_import_(kg/cap/day)'] = (meat['m_import']* 1000000) / (meat['population'] *1000)

poul.loc[:, 'p_domestic_supply_(kg/cap/day)'] = (poul['p_domestic_supply'] * 1000000)/ (poul['population']*1000)
meat.loc[:, 'm_domestic_supply_(kg/cap/day)'] = (meat['m_domestic_supply']* 1000000) / (meat['population'] *1000)

In [445]:
poul.columns

Index(['item', 'year', 'population', 'p_domestic_supply',
       'p_food_supply_(kg/cap/day)', 'p_import',
       'p_protein_supply_(g/cap/day)', 'p_import_(kg/cap/day)',
       'p_domestic_supply_(kg/cap/day)'],
      dtype='object')

In [446]:
#only keeping essential columns for later on making the annnual calculations
poul_s = poul[['year', 'population', 'p_import_(kg/cap/day)', 'p_domestic_supply_(kg/cap/day)','p_protein_supply_(g/cap/day)']]
meat_s = meat[['year', 'population', 'm_import_(kg/cap/day)', 'm_domestic_supply_(kg/cap/day)','m_protein_supply_(g/cap/day)']]

In [447]:
poul_s.head()

                    year  population  p_import_(kg/cap/day)  \
area_c country
4      Afghanistan  2016    34636.21               1.068246
       Afghanistan  2018    36686.78               0.681444
8      Albania      2016     2881.06               9.371551
       Albania      2018     2877.01               4.170997
12     Algeria      2016    40339.33               0.074369

                    p_domestic_supply_(kg/cap/day)  \
area_c country
4      Afghanistan                        1.992135
       Afghanistan                        1.444662
8      Albania                           13.536684
       Albania                            9.384743
12     Algeria                            7.288173

                    p_protein_supply_(g/cap/day)
area_c country
4      Afghanistan                          0.90
       Afghanistan                          0.66
8      Albania                              6.20
       Albania                              4.29
12     Algeria                              3.33

In [448]:
poul_s.loc[:,'year'] = poul_s.loc[:,'year'].astype(str)
meat_s.loc[:,'year'] = poul_s.loc[:,'year'].astype(str)

## KFC Prep

In [449]:
kfc2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 152
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              138 non-null    object
 1   Company              138 non-null    int64
 2   Franchise & License  138 non-null    int64
 3   Total                138 non-null    int64
dtypes: int64(3), object(1)
memory usage: 9.5+ KB

In [450]:
kfc2016_s = kfc2016[['Country','Total.']]
kfc2018_s = kfc2018[['Country','Total']]

#Renaming columns
kfc2016_s.columns = ['country','2016']
kfc2018_s.columns = ['country','2018']

In [451]:
# Merge the dataframes on the 'Country' column
kfc = pd.merge(kfc2016_s, kfc2018_s, on='country', how='right')

kfc.set_index('country', inplace=True)
kfc.head(2)

         2016  2018
country
Albania   2.0     2
Algeria   9.0     0

In [452]:
kfc.columns = pd.MultiIndex.from_tuples([('kfc', '2016'), ('kfc', '2018')])

## FAO Pivot Years

In [453]:
#pivoting the yearly values into columns
poul_df = pd.pivot_table(poul_s, 
                    index=['area_c','country'], 
                    columns=['year'], 
                    values=['population','p_import_(kg/cap/day)','p_protein_supply_(g/cap/day)','p_domestic_supply_(kg/cap/day)'])

# not keeping population for meat 
meat_df = pd.pivot_table(meat_s, 
                    index=['area_c','country'], 
                    columns=['year'], 
                    values=['m_import_(kg/cap/day)','m_protein_supply_(g/cap/day)','m_domestic_supply_(kg/cap/day)'])

## KFC merge

In [454]:
# only mergin to poultry because anyways I will merge poultry and meat later on
poul_df = pd.merge(poul_df, kfc, left_index=True, right_index=True, how='left')

In [455]:
# The meat df doens't have population and kfc data because I will merge poultry and meat anyways

display(poul_df.head(2))
display(meat_df.head(2))

                   p_domestic_supply_(kg/cap/day)            \
                                             2016      2018
area_c country
4      Afghanistan                       1.992135  1.444662
8      Albania                          13.536684  9.384743

                   p_import_(kg/cap/day)            \
                                    2016      2018
area_c country
4      Afghanistan              1.068246  0.681444
8      Albania                  9.371551  4.170997

                   p_protein_supply_(g/cap/day)       population            \
                                           2016  2018       2016      2018
area_c country
4      Afghanistan                          0.9  0.66   34636.21  36686.78
8      Albania                              6.2  4.29    2881.06   2877.01

                    kfc
                   2016 2018
area_c country
4      Afghanistan  NaN  NaN
8      Albania      2.0  2.0

                   m_domestic_supply_(kg/cap/day)             \
year                                         2016       2018
area_c country
4      Afghanistan                      10.451490   8.804261
8      Albania                          43.733903  39.624471

                   m_import_(kg/cap/day)            \
year                                2016      2018
area_c country
4      Afghanistan              1.299218  0.844991
8      Albania                 12.842495  6.604079

                   m_protein_supply_(g/cap/day)
year                                       2016   2018
area_c country
4      Afghanistan                         4.67   3.94
8      Albania                            18.99  17.26

## % Calculations

In [456]:
display(poul_df.columns)
display(meat_df.columns)

MultiIndex([('p_domestic_supply_(kg/cap/day)', '2016'),
            ('p_domestic_supply_(kg/cap/day)', '2018'),
            (         'p_import_(kg/cap/day)', '2016'),
            (         'p_import_(kg/cap/day)', '2018'),
            (  'p_protein_supply_(g/cap/day)', '2016'),
            (  'p_protein_supply_(g/cap/day)', '2018'),
            (                    'population', '2016'),
            (                    'population', '2018'),
            (                           'kfc', '2016'),
            (                           'kfc', '2018')],
           )

MultiIndex([('m_domestic_supply_(kg/cap/day)', '2016'),
            ('m_domestic_supply_(kg/cap/day)', '2018'),
            (         'm_import_(kg/cap/day)', '2016'),
            (         'm_import_(kg/cap/day)', '2018'),
            (  'm_protein_supply_(g/cap/day)', '2016'),
            (  'm_protein_supply_(g/cap/day)', '2018')],
           names=[None, 'year'])

In [457]:
p_elements = 'p_domestic_supply_(kg/cap/day)', 'p_protein_supply_(g/cap/day)','p_import_(kg/cap/day)'
m_elements ='m_domestic_supply_(kg/cap/day)', 'm_protein_supply_(g/cap/day)','m_import_(kg/cap/day)'

for p in p_elements:
    poul_df[(p, f'ds%_2016_2018')] = (poul_df[(p, '2018')] - poul_df[(p, '2016')]) / poul_df[(p, '2016')] * 100

for m in m_elements:
    meat_df[(m, f'ds%_2016_2018')] = (meat_df[(m, '2018')] - meat_df[(m, '2016')]) / meat_df[(m, '2016')] * 100

In [458]:
display(poul_df.columns)
display(meat_df.columns)

MultiIndex([('p_domestic_supply_(kg/cap/day)',          '2016'),
            ('p_domestic_supply_(kg/cap/day)',          '2018'),
            (         'p_import_(kg/cap/day)',          '2016'),
            (         'p_import_(kg/cap/day)',          '2018'),
            (  'p_protein_supply_(g/cap/day)',          '2016'),
            (  'p_protein_supply_(g/cap/day)',          '2018'),
            (                    'population',          '2016'),
            (                    'population',          '2018'),
            (                           'kfc',          '2016'),
            (                           'kfc',          '2018'),
            ('p_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'),
            (  'p_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
            (         'p_import_(kg/cap/day)', 'ds%_2016_2018')],
           )

MultiIndex([('m_domestic_supply_(kg/cap/day)',          '2016'),
            ('m_domestic_supply_(kg/cap/day)',          '2018'),
            (         'm_import_(kg/cap/day)',          '2016'),
            (         'm_import_(kg/cap/day)',          '2018'),
            (  'm_protein_supply_(g/cap/day)',          '2016'),
            (  'm_protein_supply_(g/cap/day)',          '2018'),
            ('m_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'),
            (  'm_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
            (         'm_import_(kg/cap/day)', 'ds%_2016_2018')],
           names=[None, 'year'])

## Merge df

In [459]:
df = pd.merge(poul_df,meat_df, on= (['area_c','country']))

In [460]:
df.columns

MultiIndex([('p_domestic_supply_(kg/cap/day)',          '2016'),
            ('p_domestic_supply_(kg/cap/day)',          '2018'),
            (         'p_import_(kg/cap/day)',          '2016'),
            (         'p_import_(kg/cap/day)',          '2018'),
            (  'p_protein_supply_(g/cap/day)',          '2016'),
            (  'p_protein_supply_(g/cap/day)',          '2018'),
            (                    'population',          '2016'),
            (                    'population',          '2018'),
            (                           'kfc',          '2016'),
            (                           'kfc',          '2018'),
            ('p_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'),
            (  'p_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
            (         'p_import_(kg/cap/day)', 'ds%_2016_2018'),
            ('m_domestic_supply_(kg/cap/day)',          '2016'),
            ('m_domestic_supply_(kg/cap/day)',          '2018'),
            (         'm_import_(kg/cap/day)',          '2016'),
            (         'm_import_(kg/cap/day)',          '2018'),
            (  'm_protein_supply_(g/cap/day)',          '2016'),
            (  'm_protein_supply_(g/cap/day)',          '2018'),
            ('m_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'),
            (  'm_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
            (         'm_import_(kg/cap/day)', 'ds%_2016_2018')],
           )

In [461]:
# Calculating % change for KFC only on poultry because I will merge the poultry and meat later
df[('kfc', 'kfc%_2016_2018')] = ((df[('kfc', '2018')] - df[('kfc', '2016')]) / df[('kfc', '2016')]) * 100

In [462]:
# Population 2 year change
df[('population', 'pop%_2016_2018')] = ((df[('population', '2018')] - df[('population', '2016')]) / df[('population', '2016')]) * 100

In [463]:
df.columns

MultiIndex([('p_domestic_supply_(kg/cap/day)',           '2016'),
            ('p_domestic_supply_(kg/cap/day)',           '2018'),
            (         'p_import_(kg/cap/day)',           '2016'),
            (         'p_import_(kg/cap/day)',           '2018'),
            (  'p_protein_supply_(g/cap/day)',           '2016'),
            (  'p_protein_supply_(g/cap/day)',           '2018'),
            (                    'population',           '2016'),
            (                    'population',           '2018'),
            (                           'kfc',           '2016'),
            (                           'kfc',           '2018'),
            ('p_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            (  'p_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (         'p_import_(kg/cap/day)',  'ds%_2016_2018'),
            ('m_domestic_supply_(kg/cap/day)',           '2016'),
            ('m_domestic_supply_(kg/cap/day)',           '2018'),
            (         'm_import_(kg/cap/day)',           '2016'),
            (         'm_import_(kg/cap/day)',           '2018'),
            (  'm_protein_supply_(g/cap/day)',           '2016'),
            (  'm_protein_supply_(g/cap/day)',           '2018'),
            ('m_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            (  'm_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (         'm_import_(kg/cap/day)',  'ds%_2016_2018'),
            (                           'kfc', 'kfc%_2016_2018'),
            (                    'population', 'pop%_2016_2018')],
           )

## Null, NaN, inf values

In [464]:
# First, I replaced the NaN values for 0 in the kfc store columns, because where there is not data for it, 
# we can assume its 0. 
df[('kfc', '2016')].fillna(0, inplace=True)
df[('kfc', '2018')].fillna(0, inplace=True)

In [465]:
#Checking for NaNs 
display(df[df.isna().any(axis=1)].head())

#Seems like we get NaNs in the the % columns if both 2016 and 2018 are 0 for the given item.

                              p_domestic_supply_(kg/cap/day)             \
                                                        2016       2018
area_c country
4      Afghanistan                                  1.992135   1.444662
28     Antigua and Barbuda                         55.212014  76.394194
50     Bangladesh                                   1.620932   1.576208
70     Bosnia and Herzegovina                      17.811025  19.411023
84     Belize                                      49.004928  52.346429

                              p_import_(kg/cap/day)             \
                                               2016       2018
area_c country
4      Afghanistan                         1.068246   0.681444
28     Antigua and Barbuda                55.212014  76.394194
50     Bangladesh                          0.000000   0.000000
70     Bosnia and Herzegovina              3.160021   3.529277
84     Belize                              0.000000   0.000000

                              p_protein_supply_(g/cap/day)        population  \
                                                      2016   2018       2016
area_c country
4      Afghanistan                                    0.90   0.66   34636.21
28     Antigua and Barbuda                           21.07  30.30      90.56
50     Bangladesh                                     0.72   0.70  159784.57
70     Bosnia and Herzegovina                         8.02   8.74    3480.99
84     Belize                                        11.73  11.71     367.31

                                          kfc        \
                                    2018 2016  2018
area_c country
4      Afghanistan              36686.78  0.0   0.0
28     Antigua and Barbuda         91.63  0.0   0.0
50     Bangladesh              163683.96  8.0  21.0
70     Bosnia and Herzegovina    3400.13  0.0   0.0
84     Belize                     382.07  0.0   0.0

                              p_domestic_supply_(kg/cap/day)  \
                                               ds%_2016_2018
area_c country
4      Afghanistan                                -27.481711
28     Antigua and Barbuda                         38.365164
50     Bangladesh                                  -2.759170
70     Bosnia and Herzegovina                       8.983186
84     Belize                                       6.818704

                              p_protein_supply_(g/cap/day)  \
                                             ds%_2016_2018
area_c country
4      Afghanistan                              -26.666667
28     Antigua and Barbuda                       43.806360
50     Bangladesh                                -2.777778
70     Bosnia and Herzegovina                     8.977556
84     Belize                                    -0.170503

                              p_import_(kg/cap/day)  \
                                      ds%_2016_2018
area_c country
4      Afghanistan                       -36.209052
28     Antigua and Barbuda                38.365164
50     Bangladesh                               NaN
70     Bosnia and Herzegovina             11.685248
84     Belize                                   NaN

                              m_domestic_supply_(kg/cap/day)              \
                                                        2016        2018
area_c country
4      Afghanistan                                 10.451490    8.804261
28     Antigua and Barbuda                         99.381625  120.048019
50     Bangladesh                                   4.418449    4.172675
70     Bosnia and Herzegovina                      39.643894   42.939535
84     Belize                                      70.784896   83.754286

                              m_import_(kg/cap/day)              \
                                               2016        2018
area_c country
4      Afghanistan                         1.299218    0.844991
28     Antigua and Barbuda                88.339223  120.048019
50     Bangladesh                          0.012517    0.018328
70     Bosnia and Herzegovina             21.258320   23.528512
84     Belize                             16.334976   26.173214

                              m_protein_supply_(g/cap/day)         \
                                                      2016   2018
area_c country
4      Afghanistan                                    4.67   3.94
28     Antigua and Barbuda                           29.94  38.30
50     Bangladesh                                     2.01   1.90
70     Bosnia and Herzegovina                        17.38  18.40
84     Belize                                        18.47  22.62

                              m_domestic_supply_(kg/cap/day)  \
                                               ds%_2016_2018
area_c country
4      Afghanistan                                -15.760706
28     Antigua and Barbuda                         20.794985
50     Bangladesh                                  -5.562449
70     Bosnia and Herzegovina                       8.313109
84     Belize                                      18.322257

                              m_protein_supply_(g/cap/day)  \
                                             ds%_2016_2018
area_c country
4      Afghanistan                              -15.631692
28     Antigua and Barbuda                       27.922512
50     Bangladesh                                -5.472637
70     Bosnia and Herzegovina                     5.868815
84     Belize                                    22.468868

                              m_import_(kg/cap/day)            kfc  \
                                      ds%_2016_2018 kfc%_2016_2018
area_c country
4      Afghanistan                       -34.961585            NaN
28     Antigua and Barbuda                35.894358            NaN
50     Bangladesh                         46.426599          162.5
70     Bosnia and Herzegovina             10.679075            NaN
84     Belize                             60.228056            NaN

                                  population
                              pop%_2016_2018
area_c country
4      Afghanistan                  5.920307
28     Antigua and Barbuda          1.181537
50     Bangladesh                   2.440405
70     Bosnia and Herzegovina      -2.322902
84     Belize                       4.018404

In [466]:
# Checking for inf
df[np.isinf(df).any(axis=1)].head(5)
#Seems like we get inf we the division value (so 2016) is 0

                     p_domestic_supply_(kg/cap/day)             \
                                               2016       2018
area_c country
52     Barbados                           61.008434  64.356967
104    Myanmar                            32.047113  33.323200
120    Cameroon                            3.584739   3.230084
360    Indonesia                           7.599766   7.919366
384    Côte d'Ivoire                       2.064954   2.039696

                     p_import_(kg/cap/day)            \
                                      2016      2018
area_c country
52     Barbados                   7.177463  7.150774
104    Myanmar                    0.000000  0.018988
120    Cameroon                   0.000000  0.079755
360    Indonesia                  0.015276  0.000000
384    Côte d'Ivoire              0.000000  0.039225

                     p_protein_supply_(g/cap/day)        population  \
                                             2016   2018       2016
area_c country
52     Barbados                             20.99  22.60     278.65
104    Myanmar                              13.76  14.30   51892.35
120    Cameroon                              1.61   1.46   23711.63
360    Indonesia                             3.42   3.57  261850.18
384    Côte d'Ivoire                         0.94   0.92   24213.62

                                  kfc        p_domestic_supply_(kg/cap/day)  \
                           2018  2016   2018                  ds%_2016_2018
area_c country
52     Barbados          279.69   0.0   12.0                       5.488640
104    Myanmar         52666.01  65.0   33.0                       3.981911
120    Cameroon        25076.75   0.0    0.0                      -9.893473
360    Indonesia      267066.84   0.0  687.0                       4.205395
384    Côte d'Ivoire   25493.99   0.0    0.0                      -1.223132

                     p_protein_supply_(g/cap/day) p_import_(kg/cap/day)  \
                                    ds%_2016_2018         ds%_2016_2018
area_c country
52     Barbados                          7.670319              -0.37184
104    Myanmar                           3.924419                   inf
120    Cameroon                         -9.316770                   inf
360    Indonesia                         4.385965            -100.00000
384    Côte d'Ivoire                    -2.127660                   inf

                     m_domestic_supply_(kg/cap/day)              \
                                               2016        2018
area_c country
52     Barbados                          104.073210  110.836998
104    Myanmar                            59.334372   64.367891
120    Cameroon                           13.790701   12.322171
360    Indonesia                          12.232186   11.959553
384    Côte d'Ivoire                      10.902955   11.139880

                     m_import_(kg/cap/day)             \
                                      2016       2018
area_c country
52     Barbados                  43.064777  42.904644
104    Myanmar                    0.038541   0.037975
120    Cameroon                   0.168694   0.199388
360    Indonesia                  0.664502   0.853719
384    Côte d'Ivoire              0.991178   0.902173

                     m_protein_supply_(g/cap/day)         \
                                             2016   2018
area_c country
52     Barbados                             32.43  33.73
104    Myanmar                              24.67  26.69
120    Cameroon                              6.25   5.59
360    Indonesia                             5.36   5.26
384    Côte d'Ivoire                         5.26   5.28

                     m_domestic_supply_(kg/cap/day)  \
                                      ds%_2016_2018
area_c country
52     Barbados                            6.499067
104    Myanmar                             8.483311
120    Cameroon                          -10.648698
360    Indonesia                          -2.228814
384    Côte d'Ivoire                       2.173042

                     m_protein_supply_(g/cap/day) m_import_(kg/cap/day)  \
                                    ds%_2016_2018         ds%_2016_2018
area_c country
52     Barbados                          4.008634             -0.371840
104    Myanmar                           8.188083             -1.468993
120    Cameroon                        -10.560000             18.195290
360    Indonesia                        -1.865672             28.474965
384    Côte d'Ivoire                     0.380228             -8.979649

                                kfc     population
                     kfc%_2016_2018 pop%_2016_2018
area_c country
52     Barbados                 inf       0.373228
104    Myanmar           -49.230769       1.490894
120    Cameroon                 NaN       5.757175
360    Indonesia                inf       1.992231
384    Côte d'Ivoire            NaN       5.287809

What are the problems?

1. NaN values appeared in the kfc%, and Import% column where both in 2016 and 2018 the values were 0.
    - I replaced it with 0, because from 0 to 0 stores, is 0% growth.
    
2. Inf values in the KFC% and Import% columns when the absolute values of 2016 imports are 0 but that of 2018 is higher. 
    - I replaced it with the value of the 2018*100, as if it would have simply grown that much %.
    - Using this method, I assumed that if stores are in country X were 0 in 2016 and 5 in 2018, there was a 500% growth.
    - (this being much closer to reality than if I would have simply replaced it with an arbitrary number)

In [467]:
# I want to replace NaN values in the kfc % and import% columns because they appear when both 2016 and 2018 columns are 0
df[('kfc', 'kfc%_2016_2018')].fillna(0, inplace=True)
df[('p_import_(kg/cap/day)', 'ds%_2016_2018')].fillna(0, inplace=True)
df[('m_import_(kg/cap/day)', 'ds%_2016_2018')].fillna(0, inplace=True)

In [468]:
# No more NaN values
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [(p_domestic_supply_(kg/cap/day), 2016), (p_domestic_supply_(kg/cap/day), 2018), (p_import_(kg/cap/day), 2016), (p_import_(kg/cap/day), 2018), (p_protein_supply_(g/cap/day), 2016), (p_protein_supply_(g/cap/day), 2018), (population, 2016), (population, 2018), (kfc, 2016), (kfc, 2018), (p_domestic_supply_(kg/cap/day), ds%_2016_2018), (p_protein_supply_(g/cap/day), ds%_2016_2018), (p_import_(kg/cap/day), ds%_2016_2018), (m_domestic_supply_(kg/cap/day), 2016), (m_domestic_supply_(kg/cap/day), 2018), (m_import_(kg/cap/day), 2016), (m_import_(kg/cap/day), 2018), (m_protein_supply_(g/cap/day), 2016), (m_protein_supply_(g/cap/day), 2018), (m_domestic_supply_(kg/cap/day), ds%_2016_2018), (m_protein_supply_(g/cap/day), ds%_2016_2018), (m_import_(kg/cap/day), ds%_2016_2018), (kfc, kfc%_2016_2018), (population, pop%_2016_2018)]
Index: []

In [469]:
# Function 1 for kfc% inf values.
def kfc_inf_values(df):
    for index, row in df.iterrows():
        if np.isinf(row[('kfc', 'kfc%_2016_2018')]):
            df.at[index, ('kfc', 'kfc%_2016_2018')] = row[('kfc', '2018')] * 100
    return df

# Function 2 for poultry import % inf values
def p_import_inf_values(df):
    for index, row in df.iterrows():
        if np.isinf(row[('p_import_(kg/cap/day)',  'ds%_2016_2018')]):
            df.at[index, ('p_import_(kg/cap/day)',  'ds%_2016_2018')] = row[('p_import_(kg/cap/day)','2018')] * 100
    return df

# Function 2 for meat import % inf values
def m_import_inf_values(df):
    for index, row in df.iterrows():
        if np.isinf(row[('m_import_(kg/cap/day)',  'ds%_2016_2018')]):
            df.at[index, ('m_import_(kg/cap/day)',  'ds%_2016_2018')] = row[('m_import_(kg/cap/day)','2018')] * 100
    return df

# Applying Functions:
functions = kfc_inf_values, p_import_inf_values, m_import_inf_values

for function in functions:
    df = function(df)

In [470]:
# No more inf values.
df[np.isinf(df).any(axis=1)].head(5)

Empty DataFrame
Columns: [(p_domestic_supply_(kg/cap/day), 2016), (p_domestic_supply_(kg/cap/day), 2018), (p_import_(kg/cap/day), 2016), (p_import_(kg/cap/day), 2018), (p_protein_supply_(g/cap/day), 2016), (p_protein_supply_(g/cap/day), 2018), (population, 2016), (population, 2018), (kfc, 2016), (kfc, 2018), (p_domestic_supply_(kg/cap/day), ds%_2016_2018), (p_protein_supply_(g/cap/day), ds%_2016_2018), (p_import_(kg/cap/day), ds%_2016_2018), (m_domestic_supply_(kg/cap/day), 2016), (m_domestic_supply_(kg/cap/day), 2018), (m_import_(kg/cap/day), 2016), (m_import_(kg/cap/day), 2018), (m_protein_supply_(g/cap/day), 2016), (m_protein_supply_(g/cap/day), 2018), (m_domestic_supply_(kg/cap/day), ds%_2016_2018), (m_protein_supply_(g/cap/day), ds%_2016_2018), (m_import_(kg/cap/day), ds%_2016_2018), (kfc, kfc%_2016_2018), (population, pop%_2016_2018)]
Index: []

## Variable reduction, renaming

In [471]:
df.shape

(176, 24)

In [472]:
#First, I'm going to reduce the number of columns to the essentials. Absolute values from the latest year, and % changes. 
df.columns

MultiIndex([('p_domestic_supply_(kg/cap/day)',           '2016'),
            ('p_domestic_supply_(kg/cap/day)',           '2018'),
            (         'p_import_(kg/cap/day)',           '2016'),
            (         'p_import_(kg/cap/day)',           '2018'),
            (  'p_protein_supply_(g/cap/day)',           '2016'),
            (  'p_protein_supply_(g/cap/day)',           '2018'),
            (                    'population',           '2016'),
            (                    'population',           '2018'),
            (                           'kfc',           '2016'),
            (                           'kfc',           '2018'),
            ('p_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            (  'p_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (         'p_import_(kg/cap/day)',  'ds%_2016_2018'),
            ('m_domestic_supply_(kg/cap/day)',           '2016'),
            ('m_domestic_supply_(kg/cap/day)',           '2018'),
            (         'm_import_(kg/cap/day)',           '2016'),
            (         'm_import_(kg/cap/day)',           '2018'),
            (  'm_protein_supply_(g/cap/day)',           '2016'),
            (  'm_protein_supply_(g/cap/day)',           '2018'),
            ('m_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            (  'm_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (         'm_import_(kg/cap/day)',  'ds%_2016_2018'),
            (                           'kfc', 'kfc%_2016_2018'),
            (                    'population', 'pop%_2016_2018')],
           )

In [473]:
df= df[[
    ('p_domestic_supply_(kg/cap/day)', '2018'), 
    ('m_domestic_supply_(kg/cap/day)', '2018'),
    ('p_protein_supply_(g/cap/day)', '2018'),
    ('m_protein_supply_(g/cap/day)', '2018'),
    ('p_import_(kg/cap/day)', '2018'),
    ('m_import_(kg/cap/day)', '2018'),
    ('population', '2018'),
    ('kfc', '2018'),
    ('p_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'), 
    ('m_domestic_supply_(kg/cap/day)', 'ds%_2016_2018'),
    ('p_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
    ('m_protein_supply_(g/cap/day)', 'ds%_2016_2018'),
    ('p_import_(kg/cap/day)', 'ds%_2016_2018'),
    ('m_import_(kg/cap/day)', 'ds%_2016_2018'),
    ('population', 'pop%_2016_2018'),
    ('kfc', 'kfc%_2016_2018')
]]

In [474]:
# we now have 16 columns.
df.columns

MultiIndex([('p_domestic_supply_(kg/cap/day)',           '2018'),
            ('m_domestic_supply_(kg/cap/day)',           '2018'),
            (  'p_protein_supply_(g/cap/day)',           '2018'),
            (  'm_protein_supply_(g/cap/day)',           '2018'),
            (         'p_import_(kg/cap/day)',           '2018'),
            (         'm_import_(kg/cap/day)',           '2018'),
            (                    'population',           '2018'),
            (                           'kfc',           '2018'),
            ('p_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            ('m_domestic_supply_(kg/cap/day)',  'ds%_2016_2018'),
            (  'p_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (  'm_protein_supply_(g/cap/day)',  'ds%_2016_2018'),
            (         'p_import_(kg/cap/day)',  'ds%_2016_2018'),
            (         'm_import_(kg/cap/day)',  'ds%_2016_2018'),
            (                    'population', 'pop%_2016_2018'),
            (                           'kfc', 'kfc%_2016_2018')],
           )

In [475]:
# Making it single level index
df.columns = df.columns.droplevel(1)

In [476]:
# Re-naming columns
# I don't have space in the label, but all absolute values are 2018 values and all percentage changes are 2016-2018.
# absolute values for domestic supply (ds) are in kg/cap/day, 
# absolute values for protein supply (ps) they are g/cap/day
# absolute values for import(imp) are in kg/cap/day.
# absolute values for population are in 1,000s

df.columns = ['p_ds',
              'm_ds',
              'p_ps',
              'm_ps',
              'p_imp',
              'm_imp',
              'pop',
              'kfc',
              'p_ds%',
              'm_ds%',
              'p_ps%',
              'm_ps%',
              'p_imp%',
              'm_imp%',
              'pop%',
              'kfc%']

In [477]:
df.head(2)

,,p_ds,m_ds,p_ps,m_ps,p_imp,m_imp,pop,kfc,p_ds%,m_ds%,p_ps%,m_ps%,p_imp%,m_imp%,pop%,kfc%
area_c,country,,,,,,,,,,,,,,,,
4,Afghanistan,1.444662,8.804261,0.66,3.94,0.681444,0.844991,36686.78,0.0,-27.481711,-15.760706,-26.666667,-15.631692,-36.209052,-34.961585,5.920307,0.0
8,Albania,9.384743,39.624471,4.29,17.26,4.170997,6.604079,2877.01,2.0,-30.671774,-9.396445,-30.806452,-9.110058,-55.492991,-48.576361,-0.140573,0.0

## KFC to stores/thousand ppl

In [478]:
df['kfc'] = df['kfc']/df['pop']

## Countries

In [479]:
df=df.reset_index('country')

In [480]:
#making a new dataframe with just the country codes and country column for later.
countries = pd.DataFrame(df.copy())

In [481]:
countries= pd.DataFrame(countries['country'])

In [482]:
countries.head()

                    country
area_c
4               Afghanistan
8                   Albania
12                  Algeria
24                   Angola
28      Antigua and Barbuda

In [483]:
#dropping country column in df
df.drop(columns=['country'], inplace=True)

In [484]:
df.head()

,p_ds,m_ds,p_ps,m_ps,p_imp,m_imp,pop,kfc,p_ds%,m_ds%,p_ps%,m_ps%,p_imp%,m_imp%,pop%,kfc%
area_c,,,,,,,,,,,,,,,,
4,1.444662,8.804261,0.66,3.94,0.681444,0.844991,36686.78,0.000000,-27.481711,-15.760706,-26.666667,-15.631692,-36.209052,-34.961585,5.920307,0.0
8,9.384743,39.624471,4.29,17.26,4.170997,6.604079,2877.01,0.000695,-30.671774,-9.396445,-30.806452,-9.110058,-55.492991,-48.576361,-0.140573,0.0
12,6.821378,20.082520,3.10,8.87,0.000000,1.621866,41927.01,0.000000,-6.404818,-5.800537,-6.906907,-5.738576,-100.000000,-28.104401,3.935812,-100.0
24,12.022947,25.165052,5.45,10.68,10.711934,15.380419,31273.53,0.000288,36.391447,12.873968,36.591479,13.617021,43.918787,23.870794,7.267358,50.0
28,76.394194,120.048019,30.30,38.30,76.394194,120.048019,91.63,0.000000,38.365164,20.794985,43.806360,27.922512,38.365164,35.894358,1.181537,0.0

# Saving data

In [485]:
df.to_csv('data_clean/df.csv')
countries.to_csv('data_clean/countries.csv')